@model FirmaViewModel
@{
    ViewBag.Title = "Firma Yönetim";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="container">
    <div class="row">
        @if (Model == null)
        {
            <h1 class="text text-capitalize">
                Firman Yok! Firma <a href="@Url.Action("Ekle", "Firma")" class="btn btn-success">Ekle</a>
            </h1>
        }
        else
        {
            <section class="inner-page-hero bg-image" data-image-src="@(string.IsNullOrEmpty(Model.FirmaKapakFotoPath)?"http://placehold.it/1670x480" : Model.FirmaKapakFotoPath)">
                <div class="profile">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile-img">
                                <div class="image-wrap">
                                    <figure><img src="@(string.IsNullOrEmpty(Model.FirmaProfilFotoPath)?"http://placehold.it/240x140" : Model.FirmaProfilFotoPath)" alt="@Model.FirmaAdi"></figure>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
                                <div class="pull-left right-text white-txt">
                                    <h6><a href="#">@Model.FirmaAdi</a></h6> <a href="@Url.Action("Duzenle","Firma")" class="btn btn-small btn-green">Düzenle</a>
                                    <p>@Model.Adres</p>
                                    <ul class="nav nav-inline">
                                        <li class="nav-item"> <a class="nav-link active" href="#">
                                            <i class="fa fa-check"></i> Min @($"{Model.MinimumSiparisTutari:c2}")</a> </li>
                                        <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-motorcycle"></i> @Model.OrtalamaTeslimSuresi dk.</a> </li>
                                        <li class="nav-item ratings">
                                            <a class="nav-link" href="#">
                                                <span>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        }
    </div>
</div>


