<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SeferTası - @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/angular-material.css" rel="stylesheet" />
    <link href="~/Content/angular-material.layouts.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animsition.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-aria.js"></script>
    <script src="~/Scripts/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.js"></script>
    <script src="~/Scripts/anasayfaapp.js"></script>
</head>
<body>
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        @Html.Partial("_HeaderPartial");
        <div class="page-wrapper">
            <section class="inner-page @ViewBag.ContainerClass">
                @RenderBody()
            </section>
            <!-- start: FOOTER -->
            @Html.Partial("_FooterPartial")
            <!-- end:Footer -->
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/animsition.min.js"></script>
    <script src="~/js/bootstrap-slider.min.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/headroom.js"></script>
    <script src="~/js/foodpicky.min.js"></script>
</body>
</html>
