@model RegisterViewModel
@{
    ViewBag.Title = "Kayit Sayfası";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.ContainerClass = "contact-page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <span class="text text-danger">@Html.ValidationSummary()</span>
                    @using (Html.BeginForm("Kayit", "Hesap", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Name)
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                <span class="text text-danger">
                                    @Html.ValidationMessageFor(x => x.Name)
                                </span>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Surname)
                                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Surname)
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Email)
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Username)
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Username)
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Password)
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.ConfirmPassword)
                                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Phone)
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", type = "tel" })
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-secondary">
                                        @Html.RadioButtonFor(x => x.FirmaMi, true) Firma
                                    </label>
                                    <label class="btn btn-secondary">
                                        @Html.RadioButtonFor(x => x.FirmaMi, false) Müşteri
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p>
                                    <input type="submit" class="btn theme-btn" value="Kayıt Ol" />
                                </p>
                            </div>
                        </div>
                    }

                </div>
                <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
        </div>
        <!-- WHY? -->
        <div class="col-md-4">
            <h4>Registration is fast, easy, and free.</h4>
            <p>Once you"re registered, you can:</p>
            <hr>
            <img src="http://placehold.it/400x300" alt="" class="img-fluid">
            <p></p>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="ti-info-alt" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="faq1" aria-expanded="false" role="article" style="height: 0px;">
                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                </div>
            </div>
            <!-- end:panel -->
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2" aria-expanded="true"><i class="ti-info-alt" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="faq2" aria-expanded="true" role="article">
                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                </div>
            </div>
            <!-- end:Panel -->
            <h4 class="m-t-20">Contact Customer Support</h4>
            <p> If you"re looking for more help or have a question to ask, please </p>
            <p> <a href="contact.html" class="btn theme-btn m-t-15">contact us</a> </p>
        </div>
    </div>
</div>